@use 'structure';
 
// variables

:root {
    --white: #FFF;
    --black: #000;
    --radius: 10px;
    --main: #0050C3;
    --blue: #131E8D;
    --gray: #565656;
}

button, input {
    outline: none !important;
    appearance: unset;
    box-shadow: none !important;

    &:focus {
        box-shadow: none !important;
    }
}

// colors
.bg-main {
    background-color: var(--main);
}


// Text

.title {
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
}

.title-2 {
    font-size: 48px;
    font-weight: 700;

    @media(max-width: 720px) {
        font-size: 36px;
    }
}

.text {
    font-size: 18px;
    color: var(--gray);
}

.page-title {
    font-size: 52px;
    color: var(--main);
    font-weight: 700;
}

.fc-main {
    color: var(--main);
}

// Components

.button {
    border-radius: 10px;
    line-height: 100%;    
    padding: 12px 40px;
    cursor: pointer;
    display: inline-block;
    width: fit-content;
    transition: 0.3s;

    &.has-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            margin-left: 10px;
            transition: 0.3s;
        }

        &:hover {
            svg {
                margin-left: 20px;
            }
        }
    }

    &:hover {
        opacity: 0.7;
    }

    &.white {
        background-color: var(--white);
        color: var(--main);
    }

    &.blue {
        background-color: var(--main);
        color: var(--white);
        padding: 20px 60px;
        font-weight: 700;
    }
}

.mc4wp-response {
    color: var(--white);
}

.mc4wp-success {
    color: green !important;
}

// Global
body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    line-height: 120%;
    box-sizing: border-box;
}

a {
 color: inherit;
 text-decoration: unset;   
}

h2 {
    line-height: 120%;
}

.slicky {
    position: sticky;
    top: 20px;
}

.editor {
    white-space: pre-line;

    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }

    ul {
        list-style: circle;
    }

    ol {
        list-style: decimal;
    }

    li + li {
        margin-top: 10px;
    }

    ul, ol {
        margin-left: 20px;
        margin-bottom: 20px;
        white-space: normal;
    }

    blockquote {
        margin: 20px;
        padding: 10px;
        border-left: 5px solid var(--gray);
        background-color: var(--light);
    }

    p {
        text-align: left;
    }


    h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    strong {
        font-weight: 700;
    }

    i {
        font-style: italic;
    }
}