@use 'default';

.header {
    &-links {
        display: flex;
        gap: 40px;

        @media (max-width: 720px) {
            gap: 20px;
        }
    }

    &-link {
        display: flex;
        align-items: center;
        color: var(--white);
        transition: 0.3s;

        &:hover {   
            opacity: 0.7;
        }

        @media (max-width: 720px) {
            font-size: 14px;
        }
    }
}   

.banner {
    position: relative;
    min-height: 700px;
    max-height: 100vh;
    display: flex;
    align-items: center;
    color: var(--white);
    text-align: center;
    line-height: 1.5;

    &-title {
        font-size: 52px;
        font-weight: 700;
        line-height: 130%;
        text-wrap: balance;
        max-width: 700px;

        @media (max-width: 720px) {
            font-size: 42px;
        }
    }

    &-subtitle {
        font-size: 18px;
        font-weight: 700;
    }

    &-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .button {
        font-weight: 700 !important;
        padding: 20px 60px;
    }

    &-container {
        position: relative;
        z-index: 3;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.66);
        pointer-events: all;
    }
}

.pitchbar {
    color: var(--white);

    &-icon {
        width: 50px;
        height: auto;
        display: block;
        align-self: flex-start;
    }

    &-title {
        font-weight: 700;
        font-size: 18px;
    }

    &-desc {
        font-size: 14px;
    }
}

.content-image {
    width: 100%;
    display: block;
    border-radius: var(--radius);
}

.post {
    border-radius: var(--radius);
    overflow: hidden;
    border: 1px solid #D9D9D9;
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: column;

    &:hover {
        .post-thumbnail img {
            scale: 1.1;
        }

        .post-link {
            svg {
                margin-left: 20px;
            }
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    hr {
        background-color: #D9D9D9;
    }

    &-title {
        font-weight: 700;
    }

    &-excerpt {
        color: var(--gray);
    }

    &-link {
        color: var(--blue);
        display: flex;
        align-items: center;
        font-weight: 700;
        border-top: 1px solid var(--gray);
        padding-top: 20px;
        width: 100%;

        svg {
            margin-left: 10px;
            transition: 0.3s;
        }

        &-area {
            height: 100%;
            display: flex;
            align-items: end;
        }
    }

    
    &-thumbnail {
        height: 270px;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            height: 100%;
            transition: 0.3s;
        }
    }
}

.newsletter {

    .mc4wp-form-fields {
        display: flex;
        flex-wrap: wrap;

        .row {
            width: 100%;
        }
    }

    &-input {
        background-color: #F2F2F2;
        width: 100%;
        font-size: 18px;
        padding: 15px 40px;
        box-sizing: border-box;
        display: block;
        height: 100%;
        border-radius: var(--radius);

        &::placeholder {
            opacity: 0.9;
        }
    }

    &-title {
        font-size: 48px;
        color: var(--white);
        font-weight: 900;
        text-wrap: balance;
        max-width: 500px;
        text-align: center;
        margin: 0 auto;

        @media (max-width: 720px) {
            font-size: 36px;
        }

        strong {
            color: var(--main);
        }
    }

    .button {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

}

.social-title {
    font-size: 48px;
    font-weight: 900;
    color: var(--white);
    margin: 0 auto;
    text-wrap: balance;
    text-align: center;

    @media (max-width: 720px) {
        font-size: 36px;
    }

    a {
        color: var(--black);
    }
}

.footer {
    &-link {
        color: var(--white);
        transition: 0.3s;

        &:hover {
            opacity: 0.7;
        }
    }

    hr {
        border-top:1px solid var(--white) !important;

    }

    &-bottom {
        display: flex;
        gap: 20px;


        @media (max-width: 768px) {
            flex-direction: column;
        }

        &-text {
            color: var(--white);

            @media (max-width: 720px) {
                font-size: 14px;
            }
        }
    }

    &-links {
        display: flex;

        @media (max-width: 768px) {
            flex-direction: column;
            justify-content: center;
        }
    }
}